.git
.claude
.vscode
.idea

**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log

**/.env
**/.env.*
!**/.env.example

HTML_Branch.html
IMGBB_UPLOAD_GUIDE.md
imgbb_urls.json
upload_to_imgbb.js
package-lock.json

source/front-end
source/database
